{{ partial "header.html" . }}

<div id="main-content" class="main-content">

  <div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
      <h1 id="title">{{ .Title }}</h1>
      <p>お探しのページは見つかりませんでした.</p>
      <h2>旧「まつひら系列の思い出」のWWAをお探しの方へ</h2>
      <p>「まつひら系列の思い出」で公開されていたWWA作品は, 現在<a href="http://info.wwawing.com/wing/">WWA Wing の公式サイト上</a>にて公開されています.</p>
      <h2>旧「まつひら系列の思い出」の復元サイトをお探しの方へ</h2>
      <p> 各種サイトの復元は下記で公開しています.</p>
      <p> <a href="http://info.wwawing.com/restore">http://info.wwawing.com/restore</a></p>
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main-content -->

{{ partial "footer.html" . }}
