td{font-size:12px;}
#left{width:162px;}
#center{width:635px; background-color:white; font-size:12px;}
#bestmatch{width:158px; height:40px; background-image:url(bestmatch.png);}
#bestmatch2{border-bottom:solid #5555FF 1px; border-left:solid #5555FF 1px; border-right:solid #5555FF 1px; background-color:#CCCCFF;}
#topics{width:440px; height:40px; background-image:url(topics.png);}
#alpha{width:440px; height:40px; background-image:url(alpha.png);}
#events{width:440px; height:40px; background-image:url(Nevents.png);}
#suma{width:440px; height:20px; background-image:url(suma.png);}
#alphamain{width:400px; height:180px; border-top:solid white 1px; border-bottom:solid white 1px; border-left:solid white 1px; border-right:solid white 1px; font-size:12px;}
#eventsmain{width:440px; height:200px; background-image:url(events.png); border-top:solid white 1px; border-bottom:solid white 1px; border-left:solid white 1px; border-right:solid white 1px;}
#eventend{width:460px;height:18px; background-color:#FF9944;}
#sumaend{width:460px;height:18px; background-color:#11AAFF;}
#alphaend{width:460px;height:18px; background-color:#FF77AA;}
#topicsd{width:120px; border-top:solid white 1px; border-left:solid white 1px; border-right:solid white 1px;}
#topicsdlast{width:120px; border-top:solid white 1px; border-bottom:solid white 1px; border-left:solid white 1px; border-right:solid white 1px;}
#topicsn{width:320px; border-top:solid white 1px; border-right:solid white 1px;}
#topicsnlast{width:320px; border-top:solid white 1px; border-bottom:solid white 1px; border-right:solid white 1px;}
#topicsall{background-color:#7799FF;}
#edge{width:5px;}
#sumamain{width:440px; border-top:solid white 1px; border-bottom:solid white 1px; border-left:solid white 1px; border-right:solid white 1px;}
#topicend{width:460px; height:18px; background-image:url(bg.png);}
#shogai{width:158px; height:40px; background-image:url(shogai.png);}
#shogai2{border-bottom:solid red 1px; border-left:solid red 1px; border-right:solid red 1px; background-color:#FFAAEE;}
#osusume{width:158px; height:40px; background-image:url(osusume.png);}
#osusume2{background-color:#DDFFAA;}
#kikaku{width:158px; height:40px; background-image:url(wwakikaku.png);}
#kikaku2{border-top:solid white 1px; border-bottom:solid white 1px;background-color:orange; font-size:10.5px;}
#flash{width:158px; height:40px; background-image:url(flash_ann.png);}
#sougo{width:158px; height:40px; background-image:url(sougo.png);}
#sougo2{background-color:#AAFFDD; font-size:10.5px;}
#live{width:158px; height:40px; background-image:url(liveevent.png);}
#live2{background-color:#FFBBDD; font-size:10.5px;}
#manner{width:158px; height:40px; background-image:url(manner.png);}
#manner2{background-color:#FFAABB; font-size:10.5px;}
#link{width:158px; height:40px; background-image:url(aboutlink.png);}
#link2{background-color:#FFCCAA; font-size:10.5px;}
#rights{font-size:10.5px;}