{{ partial "header.html" . }}

<div id="main-content" class="main-content">

  <div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
      <h1 id="title">{{ .Title }}</h1>
      <p>お探しのページは見つかりませんでした.</p>
      <h2>旧「まつゆき資料室」「rmn.資料室」「更新履歴」をお探しの方へ</h2>
      <p>「まつゆき資料室」はサーバ移転のため, 2015年10月3日をもって下記サイトに移転しました.</p>
      <p> <a href="http://teatime.rmn-web.net/docs">http://teatime.rmn-web.net/docs</a></p>
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main-content -->

{{ partial "footer.html" . }}
