{{ partial "header.html" . }}

<div id="main-content" class="main-content">

  <div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
      <h1 id="title">{{ .Title }}</h1>
      <p>お探しのページは見つかりませんでした.</p>
      <h2>旧「まつゆき資料室」「rmn.資料室」「更新履歴」をお探しの方へ</h2>
      <p>「まつゆき資料室」はサーバ移転のため, 2015年10月3日をもって下記サイトに移転しました.</p>
      <p> <a href="http://teatime.rmn-web.net/docs">http://teatime.rmn-web.net/docs</a></p>
      <h2>旧「まつひら系列の思い出」のWWAをお探しの方へ</h2>
      <p>「まつひら系列の思い出」で公開されていたWWA作品は, 現在<a href="http://wiki.wwawing.com/wing/">WWA Wing の公式サイト上</a>にて公開されています. なお、「ギ・ロウチンをたおすゲーム」は正式に公開を終了させて頂くこととなりました. 申し訳ございません.</p>
      <h2>旧「まつひら系列の思い出」の復元サイトをお探しの方へ</h2>
      <p>「まつひら系列の思い出」は, 2016年1月21日に廃止されました. 各種サイトの復元は下記に移転しました.</p>
      <p> <a href="http://teatime.rmn-web.net/restore">http://teatime.rmn-web.net/restore</a></p>
      <p>なお、「新進グダニスク帝国記念公園」「Teatime Chat Wiki」は一般への公開を終了させていただきました。</p>

    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main-content -->

{{ partial "footer.html" . }}
