body{background-color:#000000; color:#FFFFFF; margin:3px 100px 0px 0px; font-size:16px;}
a{color:#99AAFF;text-decoration:none;}
a:hover{color:#AADDFF;}

#left{padding:8px 0px 8px 0px; width:280px; background-color:#000000;}
#right{padding:16px 0px 8px 0px; width:560px; background-color:#000000;}
#c1{width:280px; height:93px; background-image: url("./c1.png");}
#c7{width:280px; height:35px; background-image: url("./c7.png");}
#c9{width:280px; height:53px; background-image: url("./c9.png");}
#staff{font-size:12px;}

.cn{width:280px; height:54px;}
.c8{width:280px; height:30px;}
.subta{width:44px; height:40px; background-image: url("./subta.png");}
.subtb{width:500px; height:40px; padding-top:6px; background-image: url("./subtb.png");}
.main{font-size:13px;}