@charset "UTF-8";

body{
	font-family: "メイリオ","Osaka",sans-serif;
	background-color: #FFFFFF;
	background-image: url('../img/background.gif');
	background-repeat: repeat-y;
	padding: 0px;
	margin: 0px;
}
#contentWrapper{
	width: 800px;
	padding: 0px;
	margin: 0px;
}
h1{
	color: #000000;
	font-size: 32px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}
h2 a{
	color: #333333;
	text-decoration: none;
}
h2 a:hover{
	color: #333333;
	text-decoration: underline;
}
img{
	border: 0px;
}
.textAlignCenter{
	text-align: center;
}
/*左　ここから*/
	#menuBar{
		float: left;
		margin: 0px;
		width: 250px;
		min-height: 500px;
	}
	#logoWrapper{
		text-align: center;
		width: 250px;
		height: 200px;
	}
	#logo{
		width: 230px;
		height: 180px;
	}
	ul#mainMenu{
		width: 12em;
		max-width: 250px;
		background-color: #333333;
	}
	nav li{
		padding: 0.5em;
		height: 1em;
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;/*削　除　厳　禁*/
	}

	.rgba nav li a{
		color: rgba(255,255,255,0.8);
		text-decoration: none;
		text-shadow: 2px 2px 2px #000000;
	}
	.no-rgba nav li a{
		color: #CCCCCC;
		text-decoration: none;
	}
	.rgba nav li a:hover{
		text-decoration: underline;
		color: rgba(255,255,255,1);
	}
	.no-rgba nav li a:hover{
		text-decoration: underline;
		color: #FFFFFF;
	}

	.rgba nav li a.disable{
		color: rgba(255,255,255,0.3);
	}
  .no-rgba nav li a.disable{
    color: #999999;
	}
	.rgba nav li a.disable:hover{
		text-decoration: line-through;
		color: rgba(255,255,255,0.5);
	}
	.no-rgba nav li a.disable:hover{
		text-decoration: line-through;
		color: #666666;
	}

/*左　ここまで*/
/*右　ここから*/
	.rgba #main{
		float: left;
		padding: 5px;
		margin: 25px;
		background-color: rgba(255,255,255,0.7);
		width: 490px;
		min-height: 500px;
		font-size: 14px;

	}
	.no-rgba #main{
		float: left;
		padding: 5px;
		margin: 25px;
		background-color: #AAAAAA;
		width: 490px;
		min-height: 500px;
		font-size: 14px;

	}
  #main a{
    color: #666666;
    text-decoration: none;
  }
  #main a:hover{
    color: #999999;
    text-decoration: underline;
  }
  #main div#info{
    padding-top: 80px;
  }

	td.sitename , th.sitename{
		width: 200px;
	}
	td.remark , th.remark{
		width: 290px;
	}
/*右　ここまで*/
footer{
		clear: left;
		margin: 0px;
		width: 800px;
		text-align: center;
		display: block;/*削　除　厳　禁*/
}
