TD {
	FONT-SIZE: 12px
}
#center {
	BACKGROUND-COLOR: white; WIDTH: 800px; FONT-SIZE: 12px
}
#bestmatch {
	BACKGROUND-IMAGE: url(bestmatch.png); WIDTH: 158px; HEIGHT: 40px
}
#bestmatch2 {
	BORDER-BOTTOM: #5555ff 1px solid; BORDER-LEFT: #5555ff 1px solid; BACKGROUND-COLOR: #ccccff; BORDER-RIGHT: #5555ff 1px solid
}
#topics {
	BACKGROUND-IMAGE: url(topics.png); WIDTH: 440px; HEIGHT: 40px
}
#alpha {
	BACKGROUND-IMAGE: url(alpha.png); WIDTH: 440px; HEIGHT: 40px
}
#events {
	BACKGROUND-IMAGE: url(Nevents.png); WIDTH: 440px; HEIGHT: 40px
}
#suma {
	BACKGROUND-IMAGE: url(suma.png); WIDTH: 440px; HEIGHT: 20px
}
#alphamain {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; WIDTH: 400px; HEIGHT: 180px; FONT-SIZE: 12px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#eventsmain {
	BACKGROUND-IMAGE: url(events.png); BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; WIDTH: 440px; HEIGHT: 200px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#eventend {
	BACKGROUND-COLOR: #ff9944; WIDTH: 460px; HEIGHT: 18px
}
#sumaend {
	BACKGROUND-COLOR: #11aaff; WIDTH: 460px; HEIGHT: 18px
}
#alphaend {
	BACKGROUND-COLOR: #ff77aa; WIDTH: 460px; HEIGHT: 18px
}
#topicsd {
	BORDER-LEFT: white 1px solid; WIDTH: 120px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#topicsdlast {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; WIDTH: 120px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#topicsn {
	WIDTH: 320px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#topicsnlast {
	BORDER-BOTTOM: white 1px solid; WIDTH: 320px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#topicsall {
	BACKGROUND-COLOR: #7799ff
}
#edge {
	WIDTH: 5px
}
#sumamain {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; WIDTH: 440px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
#topicend {
	BACKGROUND-IMAGE: url(bg.png); WIDTH: 460px; HEIGHT: 18px
}
#shogai {
	BACKGROUND-IMAGE: url(shogai.png); WIDTH: 158px; HEIGHT: 40px
}
#shogai2 {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; BACKGROUND-COLOR: #ffaaee; BORDER-RIGHT: red 1px solid
}
#osusume {
	BACKGROUND-IMAGE: url(osusume.png); WIDTH: 158px; HEIGHT: 40px
}
#osusume2 {
	BACKGROUND-COLOR: #ddffaa
}
#kikaku {
	BACKGROUND-IMAGE: url(wwakikaku.png); WIDTH: 158px; HEIGHT: 40px
}
#kikaku2 {
	BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: orange; FONT-SIZE: 10px; BORDER-TOP: white 1px solid
}
#flash {
	BACKGROUND-IMAGE: url(flash_ann.png); WIDTH: 158px; HEIGHT: 40px
}
#sougo {
	BACKGROUND-IMAGE: url(sougo.png); WIDTH: 158px; HEIGHT: 40px
}
#sougo2 {
	BACKGROUND-COLOR: #aaffdd; FONT-SIZE: 10px
}
#manner {
	BACKGROUND-IMAGE: url(manner.png); WIDTH: 158px; HEIGHT: 40px
}
#manner2 {
	BACKGROUND-COLOR: #ffaabb; FONT-SIZE: 10px
}
#link {
	BACKGROUND-IMAGE: url(aboutlink.png); WIDTH: 158px; HEIGHT: 40px
}
#link2 {
	BACKGROUND-COLOR: #ffccaa; FONT-SIZE: 10px
}
#rights {
	FONT-SIZE: 10px
}
A {
	COLOR: #111190; TEXT-DECORATION: none
}
A:hover {
	COLOR: #6666ff
}
