body{
  font: 16px/20px 'ヒラギノ角ゴProW3','HiraginoKakuGothicPro','Osaka','メイリオ','Meiryo','ＭＳＰゴシック','MSPGothic',sans-serif;
  color: #666;
  text-align: center;
  margin: 0 8px;
  background: #FE6 url('bg.gif') repeat-y 50% 0%;
}

a{
  text-decoration: none;
  color: #C80;
}
a:hover{
  text-decoration: underline;
}

li a{
  color: #944;
}
p{
  text-indent: 1em;
}
img{
  border: none;
}

div#wrap{
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

header hgroup{
  width: 800px;
  height: 80px;
  padding: 5px;
}
header hgroup h1{
  font-size: 200%;
  margin: 0 5px;
  line-height: 55px;
}
header hgroup h1 a img{
  float: left;
  width: 400px;
  height: 80px;
  display: block;
}

header hgroup h1 a img:hover{
  padding-top: 2px;
  padding-left: 2px;
  overflow: hidden;
}

header hgroup p{
  float: right;
  line-height: 25px;
  font-size: 90%;
  font-weight: bold;
  width: 380px;
  padding-top: 30px;
  margin: 0 5px;
}

header nav{
  float: clear;
  background: #FFF url('header-nav-bg.gif') no-repeat 0 0;
  height: 30px;
}
header nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
  font-size: 90%;
}
header nav ul li{
  float: left;
}
header nav ul li:hover{
  background: #FFF url('header-nav-hover-bg.gif');
}
header nav ul li a{
  padding: 0 10px;
  line-height: 30px;
}
header nav ul li a:hover{
  text-decoration: none;
}

div#contents{
  width: 800px;
  background-color: #FFF;
  clear: both;
}
div#main{
  float: left;
  width: 630px;
  margin-right: 10px;
  margin-bottom: 20px;
}
div#main h2{
  background: #FFF url('main-h2-bg.gif') no-repeat 0 0;
  width: 790px;
  height: 30px;
  line-height: 30px;
  margin: 18px 0;
  padding: 0 5px;
  font-size: 140%;
}
div#main h3{
  background: #FFF url('main-h3-bg.gif') no-repeat 5px 8px;
  border-bottom: 1px solid #FA2;
  margin: 16px 0;
  padding: 4px 4px 4px 25px;
  font-size: 130%;
  line-height: 25px;
}
div#main h4{
  border-bottom: 1px solid #FA2;
  margin: 14px 0;
  padding: 3px 3px 3px 6px;
  font-size: 120%;
  line-height: 20px;
}
div#main ul li{
  list-style-image: url('list.gif');
}
div#main blockquote{
  background-color: #FE6;
  padding: 10px;
  font-size: 90%;
  margin: 10px 10px 10px 30px;
}
div#sidebar{
  float: right;
  width: 160px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 90%;
}
div#sidebar h2{
  background: #FFF url('sidebar-h2-bg.gif') repeat-x 0 0;
  line-height: 25px;
  font-size: 120%;
}

footer{
  height: 50px;
  font-size: 90%;
  background: #FA2 url('footer-bg.gif') repeat-x 0 0;
  padding: 10px;
  clear: both;
}
footer ul{
  list-style: none;
  height: 20px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #FFF;
}
footer ul li{
  line-height: 20px;
  float: left;
  padding: 0 10px;
  border-right: 1px solid #FFF;
}
footer p{
  clear: left;
  margin: 10px 0;
}
